{% include "header.html" %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Coffee & Wi-fi</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Want to work in a cafe but need power and wi-fi?</h2>
                        <a class="btn btn-primary" href="{{ url_for('cafes') }}">Check it Out!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">

                    <div class="col-md-4 mb-3 mb-md-0 mx-auto">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="mailto:brndn.gonz@gmail.com">brndn.gonz@gmail.com</a></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

{% include "footer.html" %}
