{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<header class="login">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Register</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Start Contributing Today!</h2>

                        <div class="container">
                          <div class="row">
                            <div class="text-white-50 col-lg-8 col-md-10 mx-auto">
                              {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                  {% for message in messages %}
                                    <p class="text-warning">{{ message }}</p>
                                  {% endfor %}
                                {% endif %}
                              {% endwith %}
                              {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

{% include "footer.html" %}